<style>
        p{
            font-family: Arial;
            margin-bottom: 0px;
        }
        .model{
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            margin-top: 5px;
            font-family: Arial;
            margin-bottom: 0px;
        }
        .order{
            text-align: center;
            font-family: Arial;
        }
        .span{
            text-decoration: underline;
        }
    </style>